name: Databricks CI

on:
  push:
    branches:
      - main

jobs:
  run-notebook:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Databricks CLI
        run: |
          pip install databricks-cli

      - name: Configure Databricks CLI
        run: |
          databricks configure --token <<EOF
          ${{ secrets.DATABRICKS_HOST }}
          ${{ secrets.DATABRICKS_TOKEN }}
          EOF

      - name: Import notebook
        run: |
          databricks workspace import \
            notebooks/hello_world.py \
            /Shared/hello_world \
            --language PYTHON \
            --overwrite

      - name: Run notebook
        run: |
          databricks runs submit --json '{
            "run_name": "hello-world-ci",
            "existing_cluster_id": "bddb47e14a3a86c6",
            "notebook_task": {
              "notebook_path": "/Shared/hello_world"
            }
          }'
